<h2>Here are All the Campers</h2>

<%# Display a list all of the campers %>

<ul>
<% @campers.each do |camper_var| %>
    <li> <%= link_to camper_var.name, camper_path(camper_var) %> </li>
<% end %>
</ul>
